
@{
    ViewBag.Title = "Department";
}

<h2>Department</h2>

@using MyApp1.Models
@{
    if (IsPost)
    {
        <p>
            You have entered :<br />
            Department : @Request["Department"] <br />
            Cource : @Request["Course"]
        </p>
    }
    else
    {
        <form method="post" action="">
            <b>Department : </b><input type="text" name="Department" value="" /><br />
            <b>Cource : </b><input type="text" name="Course" value="" /><br />
            <input type="submit" value="Submit" />
        </form>
    }


}