
@{
    ViewBag.Title = "Department";
}

<h2>Create Department</h2>

@using MyApp1.Models
@{
    if (IsPost)
    {
        Entity temp = new Entity();
        temp.course = Request["Course"];
        temp.department = Request["Department"];
        <p>
            You have entered :<br />
            Department : @temp.department <br />
            Cource : @temp.course
        </p>
    }
    else
    {
        <form method="post" action="CreateDepartment">
            <b>Department : </b><input type="text" name="Department" value="" /><br />
            <b>Cource : </b><input type="text" name="Course" value="" /><br />
            <input type="submit" value="Submit" />
        </form>
    }


}